html{
    background-color: #ececec;
}

#container{
    width: 90%;
    margin: 100px auto;
}

.book{
    height:300px;
    border-radius: 10px;
}

.book:nth-child(odd){ background-color: #8406be;}
.book:nth-child(even){ background-color: #1c77ff;}

#form{
    width: 300px;
    margin: 30px auto;
}

#bookshelf{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
}